body {
	--i-secondary-accent-h: var(--accent-h);
	--i-secondary-accent-s: var(--accent-s);
	--i-secondary-accent-l: var(--accent-l);
	--i-secondary-accent-hsl: var(--i-secondary-accent-h), var(--i-secondary-accent-s), var(--i-secondary-accent-l);
	--i-secondary-accent: hsl(var(--i-secondary-accent-hsl));

	/* Checkboxes */
	--checkbox-radius: 50%;
	--checkbox-color: var(--i-secondary-accent);
	--checkbox-color-hover: var(--i-secondary-accent-2);
	--checkbox-border-color: var(--checkbox-color);
	--checkbox-border-color-hover: var(--checkbox-color-hover);
	--checklist-done-decoration: none;
	--checklist-done-color: var(--text-normal);

	/* Collapse icons */
	--collapse-icon-color: var(--i-secondary-accent);
	--collapse-icon-color-collapsed: var(--i-secondary-accent-2);

	/* Dividers */
	--divider-vertical-height: 100%;

	/* Blocks */
	--embed-block-shadow-hover: none;

	/* Horizontal rules */
	--hr-color: hsla(var(--i-secondary-accent-hsl), 0.45);

	/* Icons */
	--icon-color: var(--text-normal);
	--icon-color-hover: var(--icon-color);
	--icon-color-active: var(--icon-color);
	--icon-opacity: 1;

	/* Indentation guide */
	--indentation-guide-color: hsla(var(--i-secondary-accent-hsl), 0.45);
	--indentation-guide-color-active: hsla(var(--i-secondary-accent-hsl), 0.65);

	/* Lists */
	--list-marker-color: var(--i-secondary-accent);
	--list-marker-color-hover: var(--i-secondary-accent-2);
	--list-marker-color-collapsed: var(--i-secondary-text-accent);

	/* File navigator */
	--nav-item-color: var(--text-normal);
	--nav-item-background-selected: var(--i-4);
	--nav-indentation-guide-color: var(--i-4);
	--nav-collapse-icon-color-collapsed: var(--collapse-icon-color-collapsed);

	/* Modals */
	--modal-border-color: var(--background-modifier-border);

	/* Multi-select pills */
	--pill-color-remove-hover: var(--i-secondary-text-accent);

	/* Prompts */
	--prompt-border-color: var(--background-modifier-border);

	/* Search */
	--search-icon-color: var(--icon-color);

	/* Status bar */
	--status-bar-background: var(--i-2);
	--status-bar-text-color: var(--text-normal);

	/* Tags */
	--tag-color: var(--text-normal);
	--tag-color-hover: var(--tag-color);
	--tag-background: hsla(var(--i-secondary-accent-hsl), 0.2);
	--tag-background-hover: var(--tag-background);
	--tag-padding-x: 0.5em;
	--tag-radius: var(--radius-s);

	/* Window frame */
	--titlebar-background: var(--i-2);
	--titlebar-background-focused: var(--titlebar-background);

	/* Backgrounds */
	--background-secondary: var(--i-1);
	--background-modifier-hover: var(--i-3);
	--background-modifier-active-hover: var(--i-4);
	--background-modifier-border: var(--i-5);
	--background-modifier-border-hover: var(--i-7);
	--background-modifier-border-focus: var(--i-8);

	/* Text */
	--interactive-accent: var(--color-accent);
}
.theme-light {
	--i-light-s: 25%;
	--i-light-l: 1;
	--i-1: hsl(var(--accent-h), var(--i-light-s), calc(100% - var(--i-light-l) * 4%));
	--i-2: hsl(var(--accent-h), var(--i-light-s), calc(100% - var(--i-light-l) * 8%));
	--i-3: hsl(var(--accent-h), var(--i-light-s), calc(100% - var(--i-light-l) * 10%));
	--i-4: hsl(var(--accent-h), var(--i-light-s), calc(100% - var(--i-light-l) * 12%));
	--i-5: hsl(var(--accent-h), var(--i-light-s), calc(100% - var(--i-light-l) * 14%));
	--i-6: hsl(var(--accent-h), var(--i-light-s), calc(100% - var(--i-light-l) * 16%));
	--i-7: hsl(var(--accent-h), var(--i-light-s), calc(100% - var(--i-light-l) * 18%));
	--i-8: hsl(var(--accent-h), var(--i-light-s), calc(100% - var(--i-light-l) * 22%));
	--i-secondary-accent-2: hsl(var(--i-secondary-accent-h), var(--i-secondary-accent-s), calc(var(--i-secondary-accent-l) - 10%));
	--i-secondary-text-accent: hsl(var(--i-secondary-accent-h), var(--i-secondary-accent-s), calc(34% - var(--i-light-l) * 4%));
	--i-secondary-text-accent-hover: hsl(var(--i-secondary-accent-h), var(--i-secondary-accent-s), calc(24% - var(--i-light-l) * 4%));

	--color-base-05: hsl(var(--accent-h), var(--accent-s), 99%) !important;
	--color-base-10: hsl(var(--accent-h), var(--accent-s), 98%) !important;
	--color-base-20: hsl(var(--accent-h), var(--accent-s), 96%) !important;
	--color-base-25: hsl(var(--accent-h), var(--accent-s), 89%) !important;
	--color-base-30: hsl(var(--accent-h), var(--accent-s), 88%) !important;
	--color-base-35: hsl(var(--accent-h), var(--accent-s), 83%) !important;
	--color-base-40: hsl(var(--accent-h), var(--accent-s), 74%) !important;
	--color-base-50: hsl(var(--accent-h), var(--accent-s), 67%) !important;
	--color-base-60: hsl(var(--accent-h), var(--accent-s), 44%) !important;
	--color-base-70: hsl(var(--accent-h), var(--accent-s), 36%) !important;
	--color-base-100: hsl(var(--accent-h), var(--accent-s), 13%) !important;

	/* Text */
	--text-normal: hsl(0, 0%, calc(17% - var(--i-light-l) * 4%));
	--text-muted: hsl(0, 0%, calc(40% - var(--i-light-l) * 4%));
	--text-faint: hsl(0, 0%, calc(71% - var(--i-light-l) * 4%));
	--text-selection: hsla(var(--i-secondary-accent-hsl), 0.2);
	--text-accent: hsl(var(--accent-h), var(--accent-s), calc(34% - var(--i-light-l) * 4%));
	--text-accent-hover: hsl(var(--accent-h), var(--accent-s), calc(24% - var(--i-light-l) * 4%));
	--interactive-hover: var(--i-1);
	--interactive-accent-hover: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) - 10%));
}
.theme-dark {
	--i-dark-s: 12%;
	--i-dark-background-primary-l: 12%;
	--i-dark-l: 1;
	--i-1: hsl(var(--accent-h), var(--i-dark-s), calc(var(--i-dark-background-primary-l) + var(--i-dark-l) * 4%));
	--i-2: hsl(var(--accent-h), var(--i-dark-s), calc(var(--i-dark-background-primary-l) + var(--i-dark-l) * 8%));
	--i-3: hsl(var(--accent-h), var(--i-dark-s), calc(var(--i-dark-background-primary-l) + var(--i-dark-l) * 10%));
	--i-4: hsl(var(--accent-h), var(--i-dark-s), calc(var(--i-dark-background-primary-l) + var(--i-dark-l) * 12%));
	--i-5: hsl(var(--accent-h), var(--i-dark-s), calc(var(--i-dark-background-primary-l) + var(--i-dark-l) * 14%));
	--i-6: hsl(var(--accent-h), var(--i-dark-s), calc(var(--i-dark-background-primary-l) + var(--i-dark-l) * 16%));
	--i-7: hsl(var(--accent-h), var(--i-dark-s), calc(var(--i-dark-background-primary-l) + var(--i-dark-l) * 18%));
	--i-8: hsl(var(--accent-h), var(--i-dark-s), calc(var(--i-dark-background-primary-l) + var(--i-dark-l) * 22%));
	--i-secondary-accent-2: hsl(var(--i-secondary-accent-h), var(--i-secondary-accent-s), calc(var(--i-secondary-accent-l) + 10%));
	--i-secondary-text-accent: hsl(var(--i-secondary-accent-h), var(--i-secondary-accent-s),
	calc(var(--i-dark-background-primary-l) + var(--i-dark-l) * 4% + (100% - var(--i-dark-background-primary-l) + var(--i-dark-l) * 4%) * 0.66));
	--i-secondary-text-accent-hover: hsl(var(--i-secondary-accent-h), var(--i-secondary-accent-s),
	calc(var(--i-dark-background-primary-l) + var(--i-dark-l) * 4% + (100% - var(--i-dark-background-primary-l) + var(--i-dark-l) * 4%) * 0.66 + 10%));

	--color-base-00: hsl(var(--accent-h), var(--accent-s), 12%) !important;
	--color-base-05: hsl(var(--accent-h), var(--accent-s), 13%) !important;
	--color-base-10: hsl(var(--accent-h), var(--accent-s), 14%) !important;
	--color-base-20: hsl(var(--accent-h), var(--accent-s), 15%) !important;
	--color-base-25: hsl(var(--accent-h), var(--accent-s), 16%) !important;
	--color-base-30: hsl(var(--accent-h), var(--accent-s), 21%) !important;
	--color-base-35: hsl(var(--accent-h), var(--accent-s), 25%) !important;
	--color-base-40: hsl(var(--accent-h), var(--accent-s), 33%) !important;
	--color-base-50: hsl(var(--accent-h), var(--accent-s), 40%) !important;
	--color-base-60: hsl(var(--accent-h), var(--accent-s), 60%) !important;
	--color-base-70: hsl(var(--accent-h), var(--accent-s), 70%) !important;
	--color-base-100: hsl(var(--accent-h), var(--accent-s), 85%) !important;

	/* Backgrounds */
	--background-primary: hsl(var(--accent-h), var(--i-dark-s), var(--i-dark-background-primary-l));

	/* Inputs */
	--background-modifier-form-field: var(--background-primary);

	/* Text */
	--text-normal: hsl(0, 0%, calc(70% + var(--i-dark-background-primary-l) + var(--i-dark-l) * 4%));
	--text-muted: hsl(0, 0%, calc(55% + var(--i-dark-background-primary-l) + var(--i-dark-l) * 4%));
	--text-faint: hsl(0, 0%, calc(25% + var(--i-dark-background-primary-l) + var(--i-dark-l) * 4%));
	--text-selection: hsla(var(--i-secondary-accent-hsl), 0.25);
	--text-accent: hsl(var(--accent-h), var(--accent-s),
	calc(var(--i-dark-background-primary-l) + var(--i-dark-l) * 4% + (100% - var(--i-dark-background-primary-l) + var(--i-dark-l) * 4%) * 0.66));
	--text-accent-hover: hsl(var(--accent-h), var(--accent-s),
	calc(var(--i-dark-background-primary-l) + var(--i-dark-l) * 4% + (100% - var(--i-dark-background-primary-l) + var(--i-dark-l) * 4%) * 0.66 + 10%));
	--interactive-normal: var(--i-2);
	--interactive-hover: var(--background-modifier-hover);
	--interactive-accent-hover: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) + 10%));
}

.theme-light .view-content {
	--background-modifier-hover: hsl(var(--i-secondary-accent-h), var(--i-secondary-accent-s), calc(100% - var(--i-light-l) * 10%));
	--background-modifier-active-hover: hsl(var(--i-secondary-accent-h), var(--i-secondary-accent-s), calc(100% - var(--i-light-l) * 12%));
	--background-modifier-border: hsl(var(--i-secondary-accent-h), var(--i-secondary-accent-s), calc(100% - var(--i-light-l) * 14%));
	--background-modifier-border-hover: hsl(var(--i-secondary-accent-h), var(--i-secondary-accent-s), calc(100% - var(--i-light-l) * 18%));
	--background-modifier-border-focus: hsl(var(--i-secondary-accent-h), var(--i-secondary-accent-s), calc(100% - var(--i-light-l) * 22%));
}
.theme-dark .view-content {
	--background-modifier-hover: hsl(var(--i-secondary-accent-h), var(--i-secondary-accent-s), calc(var(--i-dark-background-primary-l) + var(--i-dark-l) * 10%));
	--background-modifier-active-hover: hsl(var(--i-secondary-accent-h), var(--i-secondary-accent-s), calc(var(--i-dark-background-primary-l) + var(--i-dark-l) * 12%));
	--background-modifier-border: hsl(var(--i-secondary-accent-h), var(--i-secondary-accent-s), calc(var(--i-dark-background-primary-l) + var(--i-dark-l) * 14%));
	--background-modifier-border-hover: hsl(var(--i-secondary-accent-h), var(--i-secondary-accent-s), calc(var(--i-dark-background-primary-l) + var(--i-dark-l) * 18%));
	--background-modifier-border-focus: hsl(var(--i-secondary-accent-h), var(--i-secondary-accent-s), calc(var(--i-dark-background-primary-l) + var(--i-dark-l) * 22%));
}

/* Blockquotes */
body {
	--blockquote-border-color: var(--i-secondary-accent);
	--blockquote-background-color: hsla(var(--i-secondary-accent-hsl), 0.1);
}
.markdown-rendered blockquote {
	padding-inline-start: 1em;
	margin: var(--p-spacing) 0;
}

/* Callouts */
body {
	--callout-border-width: 1px;
	--callout-border-opacity: 0.45;
	--callout-padding: 0;
	--callout-radius: var(--radius-m);
	--callout-title-padding: 0.85em 1em;
	--callout-content-padding: 1em;
}
.mod-rtl,
.is-rtl,
.rtl {
	--callout-padding: 0;
}
.callout {
	background-color: transparent;
	margin: var(--p-spacing) 0;
}
.callout-title {
	gap: 0.65em;
	align-items: center;
	background-color: rgba(var(--callout-color), 0.1);
}
.markdown-source-view.mod-cm6 .callout-content .callout {
	margin: var(--p-spacing) 0;
}
.callout-content {
	border-top: var(--callout-border-width) dashed rgba(var(--callout-color), var(--callout-border-opacity));
}
.callout-content > :first-child {
	margin-top: 0 !important;
}
.callout-content > :last-child {
	margin-bottom: 0 !important;
}

/* Canvas */
.canvas-embed {
	border: 1px solid hsla(var(--i-secondary-accent-hsl), 0.45);
	border-radius: var(--radius-m);
}
.inline-embed .canvas-minimap {
	border-top: 1px dashed hsla(var(--i-secondary-accent-hsl), 0.45);
}

/* Code */
body {
	--code-background: hsla(var(--i-secondary-accent-hsl), 0.1);
}
.markdown-rendered pre {
	margin: var(--p-spacing) 0;
}

/* Embeds */
body {
	--embed-border-start: 1px solid hsla(var(--i-secondary-accent-hsl), 0.45);
	--embed-border-end: 1px solid hsla(var(--i-secondary-accent-hsl), 0.45);
	--embed-border-top: 1px solid hsla(var(--i-secondary-accent-hsl), 0.45);
	--embed-border-bottom: 1px solid hsla(var(--i-secondary-accent-hsl), 0.45);
	--embed-padding: 0;
}
.mod-rtl,
.is-rtl,
.rtl {
	--embed-padding: 0;
}
.embed-title {
	gap: 0.65em;
	padding: 0.85em 1em;
	background-color: hsla(var(--i-secondary-accent-hsl), 0.1);
	line-height: 1.3;
	border-radius: var(--radius-m) var(--radius-m) 0 0;
}
.markdown-embed:not(.canvas-node-content) {
	border-radius: var(--radius-m);
}
.internal-embed.markdown-embed .markdown-embed-content {
	padding: 1em;
	border-top: 1px dashed hsla(var(--i-secondary-accent-hsl), 0.45);
}

/* Graphs */
body {
	--graph-node-focused: var(--i-secondary-accent);
}
.theme-light {
	--graph-line: hsl(var(--i-secondary-accent-h), var(--i-secondary-accent-s), calc(87% - var(--i-light-l) * 4%));
	--graph-node: hsl(var(--i-secondary-accent-h), var(--i-secondary-accent-s), calc(40% - var(--i-light-l) * 4%));
	--graph-node-unresolved: hsl(var(--i-secondary-accent-h), var(--i-secondary-accent-s), calc(71% - var(--i-light-l) * 4%));
}
.theme-dark {
	--graph-line: hsl(var(--i-secondary-accent-h), var(--i-secondary-accent-s), calc(10% + var(--i-dark-background-primary-l) + var(--i-dark-l) * 4%));
	--graph-node: hsl(var(--i-secondary-accent-h), var(--i-secondary-accent-s), calc(55% + var(--i-dark-background-primary-l) + var(--i-dark-l) * 4%));
	--graph-node-unresolved: hsl(var(--i-secondary-accent-h), var(--i-secondary-accent-s), calc(25% + var(--i-dark-background-primary-l) + var(--i-dark-l) * 4%));
}
.graph-view.color-fill-highlight,
.graph-view.color-line-highlight {
	color: var(--i-secondary-accent);
}

/* Links */
body {
	--link-color: var(--i-secondary-text-accent);
	--link-color-hover: var(--i-secondary-text-accent-hover);
	--link-external-color: var(--i-secondary-text-accent);
	--link-external-color-hover: var(--i-secondary-text-accent-hover);
	--link-unresolved-color: var(--i-secondary-text-accent);
	--link-unresolved-decoration-color: hsla(var(--i-secondary-accent-h), var(--i-secondary-accent-s), 30%, 0.3);
}
a:hover {
	background-color: hsla(var(--i-secondary-accent-hsl), 0.1);
	border-radius: var(--radius-s);
}
.markdown-source-view.mod-cm6 .is-unresolved:hover .cm-underline {
	color: var(--link-color-hover);
	text-decoration-color: var(--link-color-hover);
}

/* Metadata */
body {
	--metadata-gap: 0;
	--metadata-property-radius: 0;
	--metadata-property-radius-hover: var(--metadata-property-radius);
	--metadata-property-radius-focus: var(--metadata-property-radius);
	--metadata-label-background: hsla(var(--i-secondary-accent-hsl), 0.1);
	--metadata-label-background-hover: var(--metadata-label-background);
	--metadata-label-background-active: var(--metadata-label-background);
	--metadata-label-text-color: var(--text-normal);
	--metadata-label-text-color-hover: var(--metadata-label-text-color);
	--metadata-input-background-active: var(--metadata-input-background);
}
.markdown-source-view .metadata-container,
.markdown-preview-view .metadata-container {
	transform: none;
}
.metadata-property:hover,
.metadata-property:focus-within {
	box-shadow: none;
}
.is-phone,
.workspace-drawer,
.workspace > .workspace-split:not(.mod-root) .metadata-container {
	--metadata-divider-width: 0;
}
.metadata-container .metadata-show-source-button,
.metadata-container .metadata-add-button {
	margin-top: 3px;
}
.metadata-properties-heading {
	padding: var(--size-4-1) 0 var(--size-2-3) 0;
	margin-bottom: 0;
}
.metadata-container.is-collapsed {
	margin-bottom: calc(1rem + var(--size-2-3));
}
.metadata-property {
	border-left: 1px solid hsla(var(--i-secondary-accent-hsl), 0.45);
	border-right: 1px solid hsla(var(--i-secondary-accent-hsl), 0.45);
	border-bottom: 1px dashed hsla(var(--i-secondary-accent-hsl), 0.45);
}
.metadata-property:first-child {
	border-top: 1px solid hsla(var(--i-secondary-accent-hsl), 0.45);
	border-top-left-radius: var(--radius-m);
	border-top-right-radius: var(--radius-m);
}
.metadata-property:last-child {
	border-bottom: 1px solid hsla(var(--i-secondary-accent-hsl), 0.45);
	border-bottom-left-radius: var(--radius-m);
	border-bottom-right-radius: var(--radius-m);
}
.metadata-property-icon {
	--icon-size: 16px;
}
.metadata-property-key {
	align-items: center;
	min-height: 2em;
}
.metadata-property-value {
	min-height: 2em;
}
.metadata-property-icon:before {
	width: var(--size-4-2);
}

/* PDF view */
.pdf-embed:not(.canvas-node-content) {
	--background-modifier-border: hsla(var(--i-secondary-accent-hsl), 0.45);
	border-radius: var(--radius-m);
}

/* Tabs */
body {
	--tab-text-color: var(--text-normal);
	--tab-text-color-active: var(--tab-text-color);
	--tab-text-color-focused: var(--tab-text-color);
	--tab-text-color-focused-active: var(--tab-text-color);
	--tab-container-background: var(--i-2);
}
.mod-left-split .workspace-tab-header.has-active-menu,
.mod-right-split .workspace-tab-header.has-active-menu,
.mod-left-split .workspace-tab-header.is-active,
.mod-right-split .workspace-tab-header.is-active {
	--background-modifier-hover: var(--i-6);
}
.workspace-tab-header-container {
	--background-modifier-hover: var(--i-5);
}

/* Tables */
body {
	--table-border-color: hsla(var(--i-secondary-accent-hsl), 0.45);
	--table-header-background: hsla(var(--i-secondary-accent-hsl), 0.1);
	--table-header-background-hover: var(--table-header-background);
	--table-column-min-width: 4ch;
	--table-selection: hsla(var(--i-secondary-accent-hsl), 0.1);
	--table-selection-border-color: var(--i-secondary-accent);
	--table-selection-border-radius: 0;
	--table-drag-handle-color: var(--i-secondary-accent);
	--table-add-button-border-color: var(--table-border-color);
}

/* Embedded search results */
.internal-query {
	border: 1px solid hsla(var(--i-secondary-accent-hsl), 0.45);
	border-radius: var(--radius-m);
	--background-modifier-border: hsla(var(--i-secondary-accent-hsl), 0.45);
}
.internal-query .internal-query-header {
	padding: 0.85em 1em;
	gap: 0.65em;
	border-radius: var(--radius-m) var(--radius-m) 0 0;
	background-color: hsla(var(--i-secondary-accent-hsl), 0.1);
	line-height: 1.3;
}
.internal-query .search-result-container {
	border: 0;
	border-radius: 0 0 var(--radius-m) var(--radius-m);
	border-top: 1px dashed hsla(var(--i-secondary-accent-hsl), 0.45);
	background-color: transparent;
}
.internal-query .internal-query-header-icon {
	color: var(--search-icon-color);
	margin: 0;
}
.el-pre .internal-query {
	margin: var(--p-spacing) 0;
}

/* Audio */
audio::-webkit-media-controls-enclosure {
	border: none;
	background-color: hsla(var(--i-secondary-accent-hsl), 0.1);
}

/* Style settings */
/* Colored headings */
.i-colored-headings {
	--inline-title-color: inherit;
}
.theme-light.i-colored-headings {
	--h1-color: hsl(0, 100%, 46%);
	--h2-color: hsl(60, 100%, 24%);
	--h3-color: hsl(120, 100%, 27%);
	--h4-color: hsl(180, 100%, 25%);
	--h5-color: hsl(240, 100%, 69%);
	--h6-color: hsl(300, 100%, 41%);
}
.theme-dark.i-colored-headings {
	--h1-color: hsl(0, 100%, 80%);
	--h2-color: hsl(60, 100%, 80%);
	--h3-color: hsl(120, 100%, 80%);
	--h4-color: hsl(180, 100%, 80%);
	--h5-color: hsl(240, 100%, 83%);
	--h6-color: hsl(300, 100%, 80%);
}

/* Highlighted headings */
.i-highlighted-headings :is(
	.markdown-rendered h1, .markdown-rendered h2, .markdown-rendered h3, .markdown-rendered h4, .markdown-rendered h5, .markdown-rendered h6,
	.cm-header-1, .cm-header-2, .cm-header-3, .cm-header-4, .cm-header-5, .cm-header-6) {
	border-radius: var(--radius-s);
	padding-left: 0.3em;
	padding-right: 0.3em;
	width: fit-content;
}
.theme-light.i-highlighted-headings :is(.markdown-rendered h1, .cm-header-1) {background-color: hsla(0, 100%, 72%, 0.3);}
.theme-light.i-highlighted-headings :is(.markdown-rendered h2, .cm-header-2) {background-color: hsla(60, 100%, 50%, 0.3);}
.theme-light.i-highlighted-headings :is(.markdown-rendered h3, .cm-header-3) {background-color: hsla(120, 100%, 67%, 0.3);}
.theme-light.i-highlighted-headings :is(.markdown-rendered h4, .cm-header-4) {background-color: hsla(180, 100%, 62%, 0.3);}
.theme-light.i-highlighted-headings :is(.markdown-rendered h5, .cm-header-5) {background-color: hsla(240, 100%, 77%, 0.3);}
.theme-light.i-highlighted-headings :is(.markdown-rendered h6, .cm-header-6) {background-color: hsla(300, 100%, 70%, 0.3);}

.theme-dark.i-highlighted-headings :is(.markdown-rendered h1, .cm-header-1) {background-color: hsla(0, 100%, 72%, 0.25);}
.theme-dark.i-highlighted-headings :is(.markdown-rendered h2, .cm-header-2) {background-color: hsla(60, 100%, 50%, 0.25);}
.theme-dark.i-highlighted-headings :is(.markdown-rendered h3, .cm-header-3) {background-color: hsla(120, 100%, 67%, 0.25);}
.theme-dark.i-highlighted-headings :is(.markdown-rendered h4, .cm-header-4) {background-color: hsla(180, 100%, 62%, 0.25);}
.theme-dark.i-highlighted-headings :is(.markdown-rendered h5, .cm-header-5) {background-color: hsla(240, 100%, 77%, 0.25);}
.theme-dark.i-highlighted-headings :is(.markdown-rendered h6, .cm-header-6) {background-color: hsla(300, 100%, 70%, 0.25);}

/* Colored inline title */
.theme-light.i-colored-inline-title .inline-title:not([data-level]) {
	color: hsla(var(--i-secondary-accent-h), var(--i-secondary-accent-s), 39%);
}
.theme-dark.i-colored-inline-title .inline-title:not([data-level]) {
	color: var(--i-secondary-text-accent);
}

/* Highlighted inline title */
.i-highlighted-inline-title .inline-title:not([data-level]) {
	border-radius: var(--radius-s);
	padding-left: 0.3em;
	padding-right: 0.3em;
	width: fit-content;
	background-color: hsla(var(--i-secondary-accent-hsl), 0.25);
}

/* Improved headings and spacing */
.i-headings-and-spacing {
	--i-heading-sizes: 0.5em;
	--i-spacing-below-headings: 0.3rem;
}
.i-headings-and-spacing .app-container {
	--heading-spacing: var(--p-spacing);
	--h1-line-height: var(--line-height-normal);
	--h2-line-height: var(--line-height-normal);
	--h3-line-height: var(--line-height-normal);
	--h4-line-height: var(--line-height-normal);
	--h1-size: calc(1em + var(--i-heading-sizes));
	--h2-size: calc(1em + var(--i-heading-sizes) * 0.8);
	--h3-size: calc(1em + var(--i-heading-sizes) * 0.6);
	--h4-size: calc(1em + var(--i-heading-sizes) * 0.4);
	--h5-size: calc(1em + var(--i-heading-sizes) * 0.2);
	--h1-weight: 600;
	--inline-title-line-height: var(--h1-line-height);
	--inline-title-size: var(--h1-size);
	--inline-title-weight: var(--h1-weight);
	--metadata-padding: 0;
	--p-spacing: 1.5rem;
}
.i-headings-and-spacing .app-container :is(
.HyperMD-header-1, .inline-title h1, .HyperMD-list-line .cm-header-1, h1, .markdown-rendered h1,
.HyperMD-header-2, .inline-title h2, .HyperMD-list-line .cm-header-2, h2, .markdown-rendered h2,
.HyperMD-header-3, .inline-title h3, .HyperMD-list-line .cm-header-3, h3, .markdown-rendered h3,
.HyperMD-header-4, .inline-title h4, .HyperMD-list-line .cm-header-4, h4, .markdown-rendered h4,
.HyperMD-header-5, .inline-title h5, .HyperMD-list-line .cm-header-5, h5, .markdown-rendered h5,
.HyperMD-header-6, .inline-title h6, .HyperMD-list-line .cm-header-6, h6, .markdown-rendered h6) {
	letter-spacing: 0;
}
.i-headings-and-spacing .app-container .cm-content .cm-line:first-of-type,
.i-headings-and-spacing .app-container .cm-content > div[contenteditable=false] + .cm-line {
	padding-top: 0;
}
.i-headings-and-spacing .app-container .cm-s-obsidian .cm-line.HyperMD-header {
	padding-top: 0;
	padding-bottom: var(--i-spacing-below-headings);
}
.i-headings-and-spacing .app-container .markdown-rendered div:is(.el-h1,.el-h2,.el-h3,.el-h4,.el-h5,.el-h6) + div > :not(h1,h2,h3,h4,h5,h6) {
	margin-top: var(--i-spacing-below-headings);
}
.i-headings-and-spacing .app-container .markdown-rendered div:is(.el-h1,.el-h2,.el-h3,.el-h4,.el-h5,.el-h6) + div > table {
	margin-top: calc(var(--size-4-4) + var(--i-spacing-below-headings));
}
.i-headings-and-spacing .app-container .markdown-rendered :is(h1,h2,h3,h4,h5,h6) {
	margin-top: 0;
	margin-bottom: var(--i-spacing-below-headings);
}
.i-headings-and-spacing .app-container .markdown-rendered hr {
	margin: calc(var(--p-spacing) * 1.5 - 1px) 0;
}
.i-headings-and-spacing .app-container .markdown-rendered div:is(.el-h1,.el-h2,.el-h3,.el-h4,.el-h5,.el-h6) + div > hr {
	margin-top: calc((var(--p-spacing) / 2 - 1px) + var(--i-spacing-below-headings));
}
.i-headings-and-spacing .app-container .inline-title:not([data-level]) {
	margin-bottom: var(--i-spacing-below-headings);
}
.i-headings-and-spacing .app-container .inline-title:not([data-level]) + .metadata-container,
.i-headings-and-spacing .app-container .callout-content .callout {
	margin-top: var(--p-spacing);
}
.i-headings-and-spacing .app-container .markdown-source-view.mod-cm6 .inline-title:not([data-level]) + .metadata-container {
	margin-top: calc(var(--p-spacing) - var(--i-spacing-below-headings));
}
.i-headings-and-spacing .app-container .el-table {
	margin: var(--p-spacing) 0;
}
.i-headings-and-spacing .app-container .el-table table {
	margin: var(--size-4-4) 0;
}
.i-headings-and-spacing .app-container .markdown-rendered pre {
	padding: calc(var(--code-size) * var(--line-height-normal)) var(--size-4-4);
	line-height: calc(var(--code-size) * var(--line-height-normal));
}

/* @settings
name: 'Iridium'
id: iridium
settings:
	-
		id: i-secondary-accent
		title: Secondary accent color
		type: variable-themed-color
		format: hsl-split
		default-light: '#'
		default-dark: '#'
	-
		id: i-headings
		title: Headings
		type: heading
		level: 1
	-
		id: i-colorful-headings
		title: Colorful headings
		type: class-select
		allowEmpty: true
		default: none
		options:
			-
				label: Colored headings
				value: i-colored-headings
			-
				label: Highlighted headings
				value: i-highlighted-headings
	-
		id: i-colorful-inline-title
		title: Colorful inline title
		type: class-select
		allowEmpty: true
		default: none
		options:
			-
				label: Colored inline title
				value: i-colored-inline-title
			-
				label: Highlighted inline title
				value: i-highlighted-inline-title
	-
		id: i-improved-headings-and-spacing
		title: Improved headings and spacing
		type: heading
		level: 2
	-
		id: i-headings-and-spacing
		title: Improved headings and spacing
		description: Makes heading and paragraph spacing more consistent between Live Preview and Reading View. Enable to adjust heading sizes and spacing below headings.
		type: class-toggle
		default: true
	-
		id: i-heading-sizes
		title: Heading sizes
		type: variable-number-slider
		default: 0.5
		min: 0
		max: 0.8
		step: 0.05
		format: em
	-
		id: i-spacing-below-headings
		title: Spacing below headings (rem)
		type: variable-number-slider
		default: 0.3
		min: 0
		max: 1.5
		step: 0.1
		format: rem
	-
		id: i-light-mode
		title: Light mode
		type: heading
		level: 1
	-
		id: i-light-s
		title: Saturation (%)
		type: variable-number-slider
		default: 25
		min: 0
		max: 100
		step: 1
		format: '%'
	-
		id: i-light-l
		title: Lightness
		type: variable-number-slider
		default: 1
		min: 0.5
		max: 1.5
		step: 0.05
	-
		id: i-dark-mode
		title: Dark mode
		type: heading
		level: 1
	-
		id: i-dark-s
		title: Saturation (%)
		type: variable-number-slider
		default: 12
		min: 0
		max: 25
		step: 1
		format: '%'
	-
		id: i-dark-background-primary-l
		title: Background lightness (%)
		type: variable-number-slider
		default: 12
		min: 0
		max: 25
		step: 1
		format: '%'
	-
		id: i-dark-l
		title: Lightness
		type: variable-number-slider
		default: 1
		min: 0.5
		max: 1.5
		step: 0.05
*/